---
const { title, id, titleColor } = Astro.props;
---

{ title && <h2 class="container-header" style={`--color-text:${titleColor || '#fff'};`} id={id}>
    {title}
</h2> }
<div class="opaque-container" id={title ? id : undefined}>
    <div class="container">
        <slot />
    </div>
</div>

<style>
    .container {
        max-width: 800px;
        margin: 0 auto;
        padding-left: 2rem;
        padding-right: 2rem;
    }

    .opaque-container {
        background: rgba(0, 0, 0, 0.5);
        padding: 1rem;
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    }

    .container-header {
        text-align: center;
        font-size: 2rem;
        color: var(--color-text);
    }

    @media (max-width: 800px) {
        .container {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    @media (max-width: 600px) {
        .container-header {
            font-size: 1.5rem;
        }
    }
</style>